body{
    background-color: #F8C8DC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    align-self: center;
    margin-left: 30px;
    margin-top: 10px;
}
.textt{
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
